<header class="header">
	<div class="header__content">
		<a routerLink="/" class="header__logo-container">
			<img src="assets/images/shared/logo.png" alt="" class="header__logo">
		</a>

		<ul class="header__list">
			<li class="header__list-item">
				<a routerLink="games" class="header__list-link">Games</a>
			</li>

			<li class="header__list-item" *ngIf="!user">
				<button class="header__list-link" (click)="onSignIn(4)">Sign In 4</button>
			</li>

			<li class="header__list-item" *ngIf="!user">
				<button class="header__list-link" (click)="onSignIn(3)">Sign In 3</button>
			</li>

			<li class="header__list-item" *ngIf="!user">
				<button class="header__list-link" (click)="onSignIn(2)">Sign In 2</button>
			</li>

			<li class="header__list-item" *ngIf="!user">
				<button class="header__list-link" (click)="onSignIn(1)">Sign In 1</button>
			</li>

			<li class="header__list-item" *ngIf="!user">
				<button class="header__list-link" (click)="onSignUp()">Sign Up</button>
			</li>

			<li class="header__list-item" *ngIf="user">
				<button class="header__list-link" (click)="onLogout()">Logout</button>
			</li>
		</ul>
	</div>
</header>
