.footer {
	background-color: #95b1c9;

	&__content {
		margin: 0 auto;
		padding: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 1200px;
		width: 100%;

		font-size: 30px;
		color: #fff;
	}
}
